.Header {
    height: 60px;
    background: #2EC4B6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;

    .Header-title {
        margin: 0;
    }

    .Header-link {
        text-decoration: none;
        color: #011627;
        font-size: 26px;
        font-family: 'Halant', serif;
    }
}