@import './reset.scss';
@import url('https://fonts.googleapis.com/css?family=Halant:400,700|Nunito+Sans:300,400,600,700');

.TemplateWrapper {
    max-width: 1280px;
    margin: 0 auto;
    .TemplateWrapper-content {
        padding: 100px 0 50px;
        background-color: #FDFFFC;
    }
}
